<div class='w-1/2 flex items-center justify-center h-52 border-2 border-orange mt-10'>
  <div class='text-center'>
  <h2 class='text-2xl font-bold text-black'><%= accesory.name %></h2>
  <p><%= accesory.memo %></p>
  </div>
</div>
