<% content_for(:title, t('.title')) %>
<div class=''>
  <div class='py-14 max-w-[700px] mx-auto px-4'>
    <h1 class='text-center text-3xl text-black font-bold'><%= t('.title') %></h1>
    <%= render 'accesories_form' %>
    <div class='mt-4 text-center'>
      <%= link_to t('.return'), tackle_path(@tackle), class: 'underline underline-offset-2 text-link hover:orange font-bold' %>
    </div>
  </div>
</div>