<div class='w-1/2'>
  <h2 class='text-center text-2xl font-bold text-black'>バス釣りタックル</h2>
  <div class='text-xl font-bold mt-6 border-2 border-orange rounded-lg py-4 px-4 '>

    <%= link_to "tackle_path", class: 'w-full h-full' do %>
      <p>21スコーピオン71MH</p>
      <p class='mt-4'>21SLX 70XG</p>
      <p class='mt-4'>シマノピットブル 2号 200m</p>
      <p class='mt-4'>沈み虫</p>
      <% end %>
  </div>
</div>
<div class='flex-grow'>
  <h2 class='text-center text-2xl font-bold text-black'>バス釣りタックル</h2>
</div>
