<div class='w-1/2 flex items-center justify-center h-52 shadow-2xl'>
  <%= image_tag tackle.image, class: "w-full relative h-inherit object-cover" if tackle.image.attached? %>
  <div class='text-center absolute z-10'>
    <h2 class='text-2xl font-bold text-blue p-2 bg-white'>
      <%= tackle.name %>
    </h2>
    <div class='mt-8'>
      <%= link_to t('.detail'), tackle_path(tackle), class: 'btn bg-blue text-white py-2 px-10 underline-offset-2 hover:orange font-bold ' %>
    </div>
  </div>
</div>
