<div class='w-1/2 flex items-center justify-center h-52 border-2 border-orange'>
  <div class='text-center'>
  <h2 class='text-2xl font-bold text-black'><%= tackle.name %></h2>
  <div class='mt-8'>
    <%= link_to t('.detail'), tackle_path(tackle), class: 'btn bg-blue text-white py-2 px-10 underline-offset-2 hover:orange font-bold ' %>
  </div>
  </div>
</div>
