<div class='w-1/2 flex items-center justify-center h-52 border-2 border-orange'>
  <div>
  <h2 class='text-2xl font-bold text-black'><%= tackle.name %></h2>
  <%= link_to 'タックル詳細', tackle_path(tackle), class: 'btn bg-blue text-white py-2 px-10 underline-offset-2 hover:orange font-bold ' %>
  </div>
</div>
