<div class=''>
  <div class='py-14 max-w-lg mx-auto'>
    <h1 class='text-center text-3xl text-black font-bold'>マイページタックル一覧</h1>
    <div class='mt-4 text-center'>
      <%= link_to '新しいタックルを作成する', new_tackle_path, class: 'underline underline-offset-2 text-link hover:orange font-bold' %>
    </div>
  </div>

</div>