<div class='py-14 max-w-[700px] mx-auto'>
  <div>
  <h1 class='text-center text-3xl text-black font-bold'><%= @tackle.name %></h1>
  </div>
  <div class='mt-10 text-center'>
      <%= link_to '釣り具を登録する', new_tackle_path, class: 'btn bg-orange text-white py-2 px-10 underline-offset-2 hover:orange font-bold' %>
    </div>
</div>
