<main>
  <div class='w-full h-[500px] relative'>
    <%= image_tag 'fv2.jpg', class: 'w-full max-w-full h-full bg-cover bg-center object-cover' %>
    <div class='absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center'>
      <h1 class='text-white font-bold text-5xl'>釣りの楽しさは、選び抜かれた道具から<br>あなたの釣り道具、ここで見つけよう</h1>
      <button class='btn btn-orange'>始める！</button>
    </div>
  </div>

  <div class='py-14 mx-auto container text-center'>
    <h2 class='text-blue font-bold text-4xl'>Tackle Masters</h2>
    <p class='text-blue'>〜タックルマスターズ〜</p>
    <p class='font-bold text-lg text-black'>Tacle Mastersは、釣り愛好家のための最も包括的な釣り道具アプリです。あなたのタックルを管理したり、最新の釣りギアを探索しましょう！</p>
    <h2 class='text-center text-blue font-bold text-4xl'>特徴</h2>
    <h2 class='text-center text-blue font-bold text-4xl'>使い方</h2>
  </div>
</main>