<header class="bg-blue p-4 text-white px-4 py-2 md:py-6 fixed w-full top-0 left-0 z-10">
  <nav class="flex justify-between mx-auto container items-center">
    <div><%= link_to t('header.title'), root_path, class: 'text-xl font-bold md:text-3xl' %></div>
    <div class="space-x-6 font-bold">
      <%= link_to t('header.login'), login_path, class: 'text-sm hover:opacity-70 transition-all duration-300 md:text-lg' %>
      <%= link_to t('header.sign_up'), new_user_path, class: 'text-sm hover:opacity-70 transition-all duration-300 md:text-lg' %>
    </div>
  </nav>
</header>
