<% content_for(:title, t('.title')) %>
<div class=''>
  <div class='py-14 max-w-5xl mx-auto px-4'>
    <h1 class='text-center text-3xl text-black font-bold'><%= t('.title') %></h1>
    <div class='mt-10 text-center'>
      <%= link_to t('.create_new_plan'), new_fishing_plan_path, class: 'btn bg-orange text-white py-2 px-10 underline-offset-2 hover:orange font-bold ' %>
    </div>
    <!-- 釣行プランを一覧表示 -->
    <div class='block md:flex md:flex-wrap mt-10'>
      <% if @plans.present? %>
        <!-- _fishing_plan.html.erb内でplanという変数を使える -->
        <%= render partial: 'fishing_plan', collection: @plans, as: :plan %>
      <% else %>
        <div class="mb-3"><%= t('.please_create_plan') %></div>
      <% end %>
    </div>
  </div>
</div>