<%# Link showing page number
  - available local variables
    page:          a page object for "this" page
    url:           url to this page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<% if page.current? %>
  <span class="md:w-10 w-8 md:h-10 h-8 flex justify-center items-center rounded text-white bg-blue"><%= page %></span>
<% else %>
  <%= link_to page, url, remote: remote, rel: page.rel, class: "md:w-10 w-8 md:h-10 h-8 flex justify-center items-center rounded font-light transition text-blue hover:text-white bg-white hover:bg-blue border border-[#1E90FF]" %>
<% end %>