<% content_for(:title, t('.title')) %>
<div class='md:py-14 py-7 md:max-w-700 max-w-full mx-auto md:px-4 px-2'>
  <h1 class='text-center md:text-3xl text-2xl text-black font-bold'><%= t('.title') %></h1>
  <%= render 'reels_form' %>
  <div class='md:mt-4 mt-2 text-center'>
    <%= link_to t('.return'), tackle_path(@tackle), class: 'underline underline-offset-2 text-link hover:orange font-bold' %>
  </div>
</div>
