@tailwind base;
@tailwind components;
@tailwind utilities;

/* ここからカスタムスタイルを追加 */
.text-stroke {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    line-height: 1.5;
}

.h-inherit {
  height: inherit;
  /* width: inherit; */
}
.