@tailwind base;
@tailwind components;
@tailwind utilities;

/* ここからカスタムスタイルを追加 */
.text-stroke {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    line-height: 1.5;
}

.h-inherit {
  height: inherit;
}

/* show.html.erbのカードキラッと */
@keyframes shine {
  0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
  80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
  81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
  100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}

.card-shine {
  display:inline-block;
  position:relative;
  overflow:hidden;
}

.card-shine::after {
  content:"";
  height:100%;
  width:30px;
  position:absolute;
  top:-180px;
  left:0;
  background-color: #fff;
  opacity:0;
  -webkit-transform: rotate(45deg);
  -webkit-animation: shine 3s ease-in-out infinite;
}

.required::after {
  content: '*';
  color: #FF7F50;
  margin-left: 0.25rem;
}