@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ここからカスタムスタイルを追加 */

/* トップページのFVとFooter画像上のテキストシャドウ */
.original-text-shadow {
  color: rgba(255, 255, 255, 1);
  text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.8);
}

/* プレビュー画像のCSS */
.preview-image {
  width: 100%;
  height: auto;
  margin-top: 12px;
}

/* トップページFVアニメーションここから */
.slide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-image {
  background: center / cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: slider-1 24s linear infinite;
}

.slide-image:nth-child(1) {
  animation-delay: -2s;
}

.slide-image:nth-child(2) {
  animation-delay: 6s;
}

.slide-image:nth-child(3) {
  animation-delay: 14s;
}

@keyframes slider-1 {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  4.16% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  41.66% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
  }
}
/* トップページFVアニメーションここまで */

/* show.html.erbのカードキラッとアニメーションここから */
@keyframes shine {
  0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
  80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
  81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
  100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}

.card-shine {
  display:inline-block;
  position:relative;
  overflow:hidden;
}

.card-shine::after {
  content:"";
  height:100%;
  width:30px;
  position:absolute;
  top:-180px;
  left:0;
  background-color: #fff;
  opacity:0;
  -webkit-transform: rotate(45deg);
  -webkit-animation: shine 3s ease-in-out infinite;
}
/* show.html.erbのカードキラッとアニメーションここまで */

/* フォームの必須項目表示 */
.required::after {
  content: '*';
  color: #FF7F50;
  margin-left: 0.25rem;
}

/* ローディング画面 */
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #1E90FF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #FF7F50;
  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}
.loaded {
  opacity: 0;
  visibility: hidden;
}
/* ローディングアニメーション */
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

/* 提案画面の待機ローディング */
.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000080;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}